<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Search Books - UkrLitExchange</title>-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <div class="logo">-->
<!--        <img src="URL_HERE" alt="UkrLitExchange Logo">-->
<!--    </div>-->
<!--    <nav class="nav-links">-->
<!--        <a href="#profile">Профіль</a>-->
<!--        <a href="#library">Моя бібліотека</a>-->
<!--        <a href="#groups">Групи</a>-->
<!--        <a href="#search">Знайти книгу</a>-->
<!--    </nav>-->
<!--</header>-->

<!--<div class="search-container">-->
<!--    <h2>Знайти книгу</h2>-->
<!--    <input type="text" placeholder="Введіть назву або автора">-->
<!--    <input type="text" placeholder="Введіть назву міста">-->
<!--    <select>-->
<!--        <option value="">Виберіть жанр</option>-->
<!--        <option value="fiction">Художня</option>-->
<!--        <option value="non-fiction">Наукова</option>-->
<!--        <option value="fantasy">Фентезі</option>-->
<!--    </select>-->
<!--    <select>-->
<!--        <option value="">Виберіть мову</option>-->
<!--        <option value="ukrainian">Українська</option>-->
<!--        <option value="english">Англійська</option>-->
<!--    </select>-->
<!--    <button>Пошук</button>-->
<!--</div>-->

<!--<div class="book-results">-->
<!--    <h3 >Результати пошуку</h3>-->
<!--    <div class="book-item">-->
<!--        <strong>Назва:</strong> Кобзар | <strong>Автор:</strong> Тарас Шевченко | <strong>Жанр:</strong> Поезія | <strong>Мова:</strong> Українська-->
<!--    </div>-->
<!--    <div class="book-item">-->
<!--        <strong>Назва:</strong> 1984 | <strong>Автор:</strong> Джордж Орвелл | <strong>Жанр:</strong> Антиутопія | <strong>Мова:</strong> Англійська-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
